<nav class="nav-sidebar">
  <h2 class="sidebar-logo">
    <a href="/">jATS</a>
  </h2>
  <ul class="nav-links">
    <li>
      <a href="/dashboard" class="nav-link">Dashboard</a>
    </li>
    <li>
      <a href="/application" class="nav-link">Applications</a>
    </li>
  </ul>
  <a class="sign-out-btn" href="/auth/sign-out">
    <button>Sign out</button>
  </a>
</nav>
