<%- include("./partials/head.ejs") %>

  <body>
    <%- include("./partials/navbar.ejs") %>
    <header class="hero">
      <div class="hero-text">
        <h1 class="hero-title">
          Stay organized
          <span>Be motivated</span>
          <span>Get hired.</span>
        </h1>
      </div>
      <div>
        <div class="hero-img"></div>
      </div>
    </header>
  </body>

  </html>
